*.gz

### C ###
# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects
*.dll
*.so
# ---

### IntelliJ IDEA ###
.idea/
*.iml
out/
# ---

### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
build.xml
manifest.mf
# ---

### Racket ###
*.rkt~
*~
*.bak
# ---
