############
### JAVA ###
############

*.class
.meghanada/

# Gradle
.gradle/
build/

# Maven
target/

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.settings/
.classpath
.project

# NetBeans
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
build.xml
manifest.mf
# ---

##############
### Racket ###
##############

lisp/racket/**/*.rkt~
lisp/racket/**/*~
lisp/racket/**/*.bak
# ---

#########
### C ###
#########

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects
*.dll
*.so

# Assembler
*.[sS]
# ---

##############
### Others ###
##############

*.gz
*.log
hs_err_pid*
# ---
