*.gz

### C ###
# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects
*.dll
*.so
# ---

### IntelliJ IDEA ###
/.idea/
*.iml
# ---

### Maven ###
target/
# ---

### Java ###
*.class
# ---

### Racket ###
*.rkt~
*~
*.bak
# ---

### Others ###
*.log
hs_err_pid*
