<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Recipe Form</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
          data-th-href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

    <script data-th-src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"
            data-th-src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form data-th-object="${recipe}" data-th-action="@{/recipe/}" method="post">

                <div data-th-if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Please Correct Errors Below</p>
                </div>

                <input type="hidden" data-th-field="*{id}" />
                <div class="card border-primary my-1">
                    <h1 class="card-header text-white bg-primary">Edit Recipe Information</h1>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label data-th-text="#{recipe.description}">Recipe Description:</label>
                                <input type="text" class="form-control" data-th-field="*{description}" data-th-errorclass="is-invalid"/>
                                <span class="form-text" data-th-if="${#fields.hasErrors('description')}">
                                    <ul>
                                        <li class="text-danger" data-th-each="err : ${#fields.errors('description')}" data-th-text="${err}"/>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label>Categories:</label>
                            </div>
                            <div class="col-md-9 form-group">
                                <div class="radio">
                                    <label>
                                        <input type="checkbox" value="" />
                                        Cat 1
                                    </label>
                                </div>
                                <div class="radio" data-th-remove="all">
                                    <label>
                                        <input type="checkbox" value="" />
                                        Cat 2
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group" data-th-class="${#fields.hasErrors('prepTime')} ? 'col-md-3 form-group is-invalid' : 'col-md-3 form-group'">
                                <label>Prep Time:</label>
                                <input type="text" class="form-control" data-th-field="*{prepTime}" data-th-errorclass="is-invalid"/>
                                <span class="form-text" data-th-if="${#fields.hasErrors('prepTime')}">
                                    <ul>
                                        <li class="text-danger" data-th-each="err : ${#fields.errors('prepTime')}" data-th-text="${err}" />
                                    </ul>
                                </span>
                            </div>
                            <div class="col-md-3 form-group" data-th-class="${#fields.hasErrors('cookTime')} ? 'col-md-3 form-group is-invalid' : 'col-md-3 form-group'">
                                <label>Cooktime:</label>
                                <input type="text" class="form-control" data-th-field="*{cookTime}" data-th-errorclass="is-invalid"/>
                                <span class="form-text" data-th-if="${#fields.hasErrors('cookTime')}">
                                    <ul>
                                        <li class="text-danger" data-th-each="err : ${#fields.errors('cookTime')}" data-th-text="${err}"/>
                                    </ul>
                                </span>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Difficulty:</label>
                                <select class="form-control" data-th-field="*{difficulty}">
                                    <option data-th-each="difficultyValue : ${T(guru.springframework.domain.Difficulty).values()}"
                                            data-th-value="${difficultyValue.name()}"
                                            data-th-text="${difficultyValue.name()}">val
                                    </option>
                                </select>
                                <select class="form-control" data-th-remove="all">
                                    <option>Easy</option>
                                    <option>Medium</option>
                                    <option>Hard</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group" data-th-class="${#fields.hasErrors('servings')} ? 'col-md-3 form-group is-invalid' : 'col-md-3 form-group'">
                                <label>Servings:</label>
                                <input type="text" class="form-control" data-th-field="*{servings}" data-th-errorclass="is-invalid"/>
                                <span class="form-text" data-th-if="${#fields.hasErrors('servings')}">
                                    <ul>
                                        <li class="text-danger" data-th-each="err : ${#fields.errors('servings')}" data-th-text="${err}"/>
                                    </ul>
                                </span>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Source:</label>
                                <input type="text" class="form-control" data-th-field="*{source}" />
                            </div>
                            <div class="col-md-3 form-group" data-th-class="${#fields.hasErrors('url')} ? 'col-md-3 form-group is-invalid' : 'col-md-3 form-group'">
                                <label>URL:</label>
                                <input type="text" class="form-control" data-th-field="*{url}" data-th-errorclass="is-invalid"/>
                                <span class="form-text" data-th-if="${#fields.hasErrors('url')}">
                                    <ul>
                                        <li class="text-danger" data-th-each="err : ${#fields.errors('url')}" data-th-text="${err}"/>
                                    </ul>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card border-primary my-1">
                    <div class="card-header bg-primary">
                        <div class="row">
                            <div class="col-md-11">
                                <h1 class="text-white">Ingredients</h1>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-secondary" href="#" data-th-href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" role="button">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li data-th-remove="all">1 Cup of milk</li>
                                    <li data-th-remove="all">1 Teaspoon of chocolate</li>
                                    <li data-th-each="ingredient : ${recipe.ingredients}"
                                        data-th-text="${(ingredient.getAmount() +
                                        ' ' + ingredient.uom.getDescription() +
                                        ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card border-primary my-1">
                    <h1 class="card-header text-white bg-primary">Directions</h1>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <textarea class="form-control" rows="3" data-th-field="*{directions}"></textarea></div>
                        </div>
                    </div>
                </div>

                <div class="card border-primary my-1">
                    <h1 class="card-header text-white bg-primary">Notes</h1>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <textarea class="form-control" rows="3" data-th-field="*{notes.recipeNotes}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
