<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Recipe Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
          data-th-href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

    <script data-th-src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"
            data-th-src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card border-primary">
                <div class="card-header text-white bg-primary">My Recipes!</div>

                <div class="card-body">
                    <div class="table-responsive" data-th-if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover">
                            <thead class="thead-light">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr data-th-remove="all">
                                <td>123</td>
                                <td>Tasty Goodnees 1</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr data-th-remove="all">
                                <td>12333</td>
                                <td>Tasty Goodnees 2</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr data-th-each="recipe : ${recipes}">
                                <td data-th-text="${recipe.id}">334</td>
                                <td data-th-text="${recipe.description}">Tasty Goodnees 3</td>
                                <td><a data-th-href="@{|/recipe/${recipe.id}/show|}">View</a></td>
                                <td><a data-th-href="@{|/recipe/${recipe.id}/update|}">Update</a></td>
                                <td><a data-th-href="@{|/recipe/${recipe.id}/delete|}">Delete</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
